.episodes {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 24px;
    padding: 15px;
    margin-bottom: 10px;
}

.num_title_ep {
    font-weight: bold;
}

.description_ep {
    padding-top: 5px;
}

.season {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    padding: 8px;
}

img {
    width: 90px;
}

.title_serie, .title_season {
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
}

.title_season {
    text-align: end;
}

.title_serie {
    text-decoration: none;
    color: #4783ef;
}

.title_serie:hover {
    color: #266bec;

}

.header {
    font-size: 1em;
}

.season{
    justify-content: space-between;
    border: 3px solid;
}

@media (min-width: 500px) {
    img {
        width: 130px;
    }
    .season{
        justify-content: space-between;
    }
    .title {
        font-size: 1.5em;
        padding-top: 75px;
    }

    .header {
        font-size: 1.5em;
    }
}

@media (min-width: 650px) {
    img {
        width: 220px;
    }
    .season{
        justify-content: space-between;
    }
    .title {
        font-size: 2em;
        padding-top: 100px;
    }
    .header {
        font-size: 2em;
    }
}

@media (min-width: 830px) {
    img {
        width: 350px;
    }
    .season{
        justify-content: space-between;
    }
    .title {
        font-size: 2em;
        padding-top: 150px;
    }
    .header {
        font-size: 2em;
    }
}

@media (min-width: 210px) {
    .content {
        height: 620px;
    }
}
@media (min-width: 222px) {
    .content {
        height: 630px;
    }
}
@media (min-width: 287px) {
    .content {
        height: 640px;
    }
}
@media (min-width: 382px) {
    .content {
        height: 725px;
    }
}
@media (min-width: 540px) {
    .content {
        height: 645px;
    }
}

@media (max-height: 700px) {
    .content {
        height: 370px;
    }
}