img {
    object-fit: contain;
}

.menu {
    flex-direction: column;
    gap: 8px;
}

.content {
    padding: 8px;
    height: 600px;

}

.serie {
    display: flex;
    border: solid 3px cornflowerblue;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 8px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
}



.serie:hover {
    background-color: #f1f1f1;
}

.serie:active {
    background-color: #f1f1f1;
    box-shadow: 0 4px #bcd4f4;
    transform: translateY(4px);
}
.texte {
    display: flex;
    flex-direction: column;
    color: black;
}

.titre {
    padding: 8px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

.description {
    padding: 8px;
}

@media (min-width: 400px) {

    .header {
        font-size: 1.0em;
    }

    .serie {
        flex-direction: row;
    }

    .serie:nth-child(even) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@media (min-width: 800px) {
    .menu {
        flex-direction: row;
    }

    .header {
        font-size: 1.5em;
    }

    .menu_accueil {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_create {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filter {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .header {
        font-size: 2em;
    }
}

@media (min-width: 1500px) {
    .header {
        font-size: 3em;
    }
}

@media (max-height: 700px) {
    .content {
        height: 280px;
    }
}