body {
    margin:auto;
}

img {
    object-fit: contain;
}

.content {
    padding: 8px;
    height: 600px;

}

.serie {
    display: flex;
    border: solid 3px cornflowerblue;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 8px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
}



.serie:hover {
    background-color: #f1f1f1;
}

.serie:active {
    background-color: #f1f1f1;
    box-shadow: 0 4px #bcd4f4;
    transform: translateY(4px);
}
.texte {
    display: flex;
    flex-direction: column;
    color: black;
}

.titre {
    padding: 8px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

.description {
    padding: 8px;
}

@media (min-width: 210px) {
    .content {
        height: 620px;
    }
}

@media (min-width: 222px) {
    .content {
        height: 630px;
    }
}

@media (min-width: 287px) {
    .content {
        height: 640px;
    }
}

@media (min-width: 382px) {
    .content {
        height: 725px;
    }
}

@media (min-width: 400px) {

    .serie {
        flex-direction: row;
    }

    .serie:nth-child(even) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@media (min-width: 540px) {
    .content {
        height: 645px;
    }
}