.header {
    font-size: 1em;
}

.menu {
    flex-direction: column;
    gap: 8px;
}

img {
    width: 50px;
}

.serie {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    margin-bottom: 15px;
    padding: 15px;
}

.serie_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title_serie {
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.origin_title_serie {
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.desc_title_serie {
    display: flex;
    padding-left: 10px;
    padding-right: 75px;
}

.season {
    display: flex;
    border: solid 3px cornflowerblue;
    flex-direction: row;
    margin-bottom: 16px;
    padding: 15px;
    text-decoration: none;
    color: black;
    border-radius: 24px;
}

.season:hover {
    background-color: #f1f1f1;
}

.season:active {
    background-color: #f1f1f1;
    box-shadow: 0 4px #bcd4f4;
    transform: translateY(4px);
}

.season_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    font-size: 1.2em;
}


@media (min-width: 800px) {
    img {
        width: auto;
    }
    .serie {
        flex-direction: row;
    }
    .serie_content {
        font-size: 1.4em;
    }
    .title_serie {
        padding-right: 100px;
    }
    .origin_title_serie {
        padding-right: 175px;
    }
    .header {
        font-size: 2em;
    }

    .menu {
        flex-direction: row;
    }

    .menu_accueil {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 210px) {
    .content {
        height: 620px;
    }
}
@media (min-width: 222px) {
    .content {
        height: 630px;
    }
}
@media (min-width: 287px) {
    .content {
        height: 640px;
    }
}
@media (min-width: 382px) {
    .content {
        height: 725px;
    }
}

@media (max-height: 700px) {
    .content {
        height: 370px;
    }
}

@media (min-width: 400px) {

    .header {
        font-size: 1.0em;
    }
}

@media (min-width: 1200px) {
    .header {
        font-size: 2em;
    }
}

@media (min-width: 1500px) {
    .header {
        font-size: 3em;
    }
}