body {
    margin:auto;
}

.header {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 3em;
    border: solid 3px;
    margin: 16px;
}

.content {
    margin: 16px;
    overflow: scroll;
    scrollbar-width: auto;
    scrollbar-color: black lightgray;
    display: flex;
    flex-direction: column;
    border: solid 3px;
    padding: 8px;
}

.footer {
    border: solid 3px;
    display: flex;
    justify-content: center;
    margin: 16px;
}

.menu {
    display: flex;
    border: solid 3px;
    background-color: black;
    font-size: 1.5em;
}

.menu_accueil {
    text-decoration: none;
    color: white;
    flex:1;
    text-align: center;
}

.menu_accueil:hover {
    background-color: #1a1a1a;
}

.menu_accueil:active {
    background-color: #1a1a1a;
    box-shadow: 0 4px #4f4f4f;
    transform: translateY(4px);
}

.filtre {
    color: white;
    flex:1;
    text-align: center;
}